<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BD" connectionString="Data Source=BEELZEBUB\SQLEXPRESS;Initial Catalog=PowerPulse;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="BDest"
            connectionString="Data Source=dados.fcsh.unl.pt;Initial Catalog=PowerPulse;User ID=drpinto;Password=2b1a4e662bd7;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>